only for debug usage

In [26]:
import pandas as pd
import pathlib
import bs4
from bs4 import BeautifulSoup as bs

In [27]:
def clear_attr(soup):
    for tag in soup.findAll(True):
        if 'id' in tag.attrs:
            del tag.attrs['id']
        if 'class' in tag.attrs:
            del tag.attrs['class']
        # if tag.name == 'span':
        #     tag.unwrap()
    return soup

In [28]:
html_file = pathlib.Path("/Users/leverest/Downloads/1507.04436.html")
with html_file.open("r", encoding="utf-8") as f:
    soup = bs(f, "html.parser")
tables = soup.find_all("table", {'class': 'ltx_tabular'})

In [29]:
def remove_thead(table: bs4.element.Tag):
    body = table.find("tbody")
    if body is None:
        return
    table_heads = table.find_all("thead")
    if len(table_heads) > 0:  # thead exist
        head = table_heads[0].extract()
        head_rows = head.find_all("tr")
        if len(head_rows) == 0:
            return
        for row in head_rows[::-1]:
            row = row.extract()
            for th in row.find_all("th"):
                th.name = "td"
            body.insert(0, row)
    return table

In [30]:
table1 = remove_thead(tables[1])
pd.read_html(str(table1))[0]

,0,1,2,3,4,5,6
0,Algorithm,Measure,number of outlying slabs,number of outlying slabs,number of outlying slabs,number of outlying slabs,number of outlying slabs
1,Algorithm,Measure,3,5,7,9,11
2,TALS,MSE (dB),-15.0081,-11.4041,-9.4724,-8.4138,-8.0331
3,TALS,TIME (sec.),0.0592,0.063,0.0635,0.0681,0.0718
4,IRALS,MSE (dB),-30.4836,-31.3318,-24.839,-23.3083,-23.1527
5,IRALS,TIME (sec.),0.1723,0.217,0.2349,0.2474,0.2461
6,IRALS w./ nn,MSE (dB),-37.743,-40.8854,-40.8,-40.4385,-26.3071
7,IRALS w./ nn,TIME (sec.),3.4883,4.5614,5.3182,5.7222,5.2961